body {
    background: rgb(7, 0, 36);
    background: linear-gradient(90deg, rgba(7, 0, 36, 1) 0%, rgba(66, 204, 136, 1) 50%, rgba(160, 0, 255, 1) 73%);
    color: white;
}

.button {
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Verdana, sans-serif;
}

.button:hover {
    background-color: #2563eb;
    font-family: Verdana, sans-serif;
}

.button-back {
    background-color: #3b82f6;
    font-family: Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    font-family: Verdana, sans-serif;
}

.employee-list,
.task-information {
    flex: 1;
    padding: 0 10px;
    margin: 0;
}

.employee-list table,
.task-information table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* Centrerer tabellerne horisontalt */
    margin-bottom: 20px;
}

.employee-list h2,
.task-information h2 {
    margin-bottom: 10px;
}

.employee-list th,
.employee-list td,
.task-information th,
.task-information td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}
