body {
    font-family: Verdana, sans-serif;
    color: white;
    background: rgb(7, 0, 36);
    background: linear-gradient(90deg, rgba(7, 0, 36, 1) 0%, rgba(66, 204, 136, 1) 50%, rgba(160, 0, 255, 1) 73%);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family: Verdana, sans-serif;
}

table {
    margin-top: 20px;
    font-family: Verdana, sans-serif;
}

