body {
    font-family: Verdana, sans-serif;
    color: white;
    background: rgb(7, 0, 36);
    background: linear-gradient(90deg, rgba(7, 0, 36, 1) 0%, rgba(66, 204, 136, 1) 50%, rgba(160, 0, 255, 1) 73%);
}

body, table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid white;
}


nav {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}