/* Reset styles */

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Additional styles */
h2 {
    font-size: 28px;
    text-align: center;
    margin: 50px 0 20px;
    color: #007FFF;
}

/* Change navigation background color */
nav a {
    background-color: #007FFF;
    border-color: #007FFF;
}

/* Body styles */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #F6F8F9;
}

/* Header styles */
h1 {
    font-size: 42px;
    text-align: center;
    margin: 50px 0 20px;
    color: #007FFF;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #007FFF;
    background-color: #007FFF;
}

nav a:hover {
    background-color: #fff;
    color: #007FFF;
}

/* Main content styles */
.box {
    max-width: 700px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #DDE2E6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #007FFF;
    color: #fff;
}





