body {
    font-family: Verdana, sans-serif;
    color: white;
    background: rgb(7, 0, 36);
    background: linear-gradient(90deg, rgba(7, 0, 36, 1) 0%, rgba(66, 204, 136, 1) 50%, rgba(160, 0, 255, 1) 73%);
}

h1 {
    color: #3b82f6;
    font-family: Verdana, sans-serif;
}

.table-container {
    display: flex;
    font-family: Verdana, sans-serif;
}

.task-table,
.employee-table {
    border-collapse: collapse;
    margin: 0;
    width: 50%;
    font-family: Verdana, sans-serif;
}

.task-table th,
.task-table td,
.employee-table th,
.employee-table td {
    border: 1px solid #a5b4c4;
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.task-table th {
    background-color: #3b82f6;
    color: white;
    font-family: Verdana, sans-serif;
}

.employee-table th {
    background-color: #3b82f6;
    color: white;
    font-family: Verdana, sans-serif;
}

.button {
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Verdana, sans-serif;
}

.button:hover {
    font-family: Verdana, sans-serif;
    background-color: #2563eb;
}
.button-back {
    font-family: Verdana, sans-serif;
    background-color: #3b82f6;
}