/* generel styling */
body {
    background: rgb(7,0,36);
    background: linear-gradient(90deg, rgba(7,0,36,1) 0%, rgba(66,204,136,1) 50%, rgba(160,0,255,1) 73%);
    color: white;
}

h1, h2 {
    color: #3b82f6;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
}

table th, table td {
    border: 1px solid #a5b4c4;
    padding: 10px;
}

/* styling af brugerinformationer */
table.user-info {
    margin: 40px 0;
}

table.user-info td:first-child {
    font-weight: bold;
    width: 150px;
}

/* styling af knapper */
a {
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: #2563eb;
}

/* styling af tabel med projekter */
table.project-table th {
    background-color: #3b82f6;
    color: white;
}

table.project-table td:last-child, table.project-table td:nth-last-child(2) {
    text-align: center;
}

table.project-table td:last-child a, table.project-table td:nth-last-child(2) a {
    margin: 0;
}

/* styling af tabel med opgaver */
table.task-table th {
    background-color: #3b82f6;
    color: white;
}

table.task-table td:last-child {
    text-align: center;
}
