.custom-background {
    background: linear-gradient(90deg, rgba(7, 0, 36, 1) 0%, rgba(66, 204, 136, 1) 50%, rgba(160, 0, 255, 1) 73%);
    color: white;
    font-family: Verdana, sans-serif;
}

.custom-background::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #66ccff; /* Change this to the desired color */
    z-index: -1;
}


.card {
    background-color: white;
    font-family: Verdana, sans-serif;
}

.card-body {
    background-color: white;
    font-family: Verdana, sans-serif;
}

.project-box {
    background-color: white;
    font-family: Verdana, sans-serif;
}


.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: Verdana, sans-serif;
}

.card {
    margin-bottom: 2rem;
    font-family: Verdana, sans-serif;
}

.card-header {
    color: #fff;
    padding: 1.25rem;
    font-family: Verdana, sans-serif;
}

.card-header h4 {
    margin-bottom: 0;
    font-family: Verdana, sans-serif;
}

.card-body {
    padding: 2rem;
    font-family: Verdana, sans-serif;
}

.user-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    font-family: Verdana, sans-serif;
}

.user-profile-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: Verdana, sans-serif;
}

.user-profile-role {
    font-size: 1rem;
    color: #6c757d;
    font-family: Verdana, sans-serif;
}

.user-profile-actions {
    margin-top: 2rem;
    font-family: Verdana, sans-serif;
}

.user-profile-actions button {
    margin-right: 0.5rem;
    font-family: Verdana, sans-serif;
}

.user-profile-details {
    margin-top: 2rem;
    font-family: Verdana, sans-serif;
}

.user-profile-details-item {
    margin-bottom: 1.5rem;
    font-family: Verdana, sans-serif;
}

.user-profile-details-item label {
    font-weight: 500;
    font-family: Verdana, sans-serif;
}

.user-profile-projects {
    margin-top: 2rem;
    font-family: Verdana, sans-serif;
}
nav a {
    background-color: mediumpurple;
    border-color: mediumpurple;
    font-family: Verdana, sans-serif;
}
nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;
    font-family: Verdana, sans-serif;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

nav li {
    margin: 0 20px;
    font-family: Verdana, sans-serif;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid mediumpurple;
    background-color: mediumpurple;
    transition: background-color 0.3s, color 0.3s;
    font-family: Verdana, sans-serif;
}

nav a:hover {
    background-color: purple;
    color: limegreen;
    font-family: Verdana, sans-serif;
}


/* Responsivitet */
@media (max-width: 767.98px) {
    .card {
        margin-bottom: 1.5rem;
        font-family: Verdana, sans-serif;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    font-family: Verdana, sans-serif;
}

.col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    font-family: Verdana, sans-serif;
}

.col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    font-family: Verdana, sans-serif;
}
.col-md-12{
    display: block;
    font-family: Verdana, sans-serif;
}

.project-box {
    padding: 20px;
    margin-bottom: 20px;
    font-family: Verdana, sans-serif;
}

.project-details {
    margin-bottom: 10px;
    font-family: Verdana, sans-serif;
}

.project-actions {
    text-align: center;
    font-family: Verdana, sans-serif;
}
.smaller-title {
    font-size: 1.0rem;
    font-family: Verdana, sans-serif;
}
.logout-button {
    margin-top: 20px;
    font-family: Verdana, sans-serif;
}

.logout-button form button {
    background-color: #3b82f6 !important;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-family: Verdana, sans-serif;
}


.logout-button form button:hover {
    background-color: #2563eb;
    font-family: Verdana, sans-serif;
}

.delete-button {
    margin-top: 2rem;
    font-family: Verdana, sans-serif;
}

.delete-button a {
    background-color: #f44336;
    border-color: #f44336;
    font-family: Verdana, sans-serif;
}

.delete-button a:hover {
    background-color: #d32f2f;
    font-family: Verdana, sans-serif;
}
