<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Tasks</title>
    <link rel="stylesheet" href="/calculate.css">
</head>
<body>
<h1>Calculator For All Employees On Your Tasks</h1>

<div class="container">
    <div class="employee-list">
        <h2>Employee List</h2>
        <table>
            <thead>
            <tr>
                <th>Employee</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="task-information">
        <h2>Task Information</h2>
        <table>
            <thead>
            <tr>
                <th>Time Spent On Tasks</th>
                <th>Task Name</th>
                <th>Task ID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${formattedTime}"></td>
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.taskId}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Total Time Spent On All Tasks:</td>
                <td th:text="${totalTimeSpent}"></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<form th:action="@{/smartslate/user/{userid}(userid=${loggedInUserIdObj})}" method="get">
    <button type="submit" class="button button-back" >Back to Your Frontpage</button>
</form>
<a class="button" th:href="@{/projects/{projectId}/tasks(projectId=${projectId})}">Go Back</a>

</body>
</html>
