<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculate Time</title>
</head>
<body>
<h1>Calculate Time</h1>

<table>
    <thead>
    <tr>
        <th>Employee</th>
        <th>Task ID</th>
        <th>Total Hours</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${taskTimeMap}">
        <td>
            <span th:text="${entry.key.employee.firstName + ' ' + entry.key.employee.lastName}"></span>
        </td>
        <td th:text="${entry.key.taskId}"></td>
        <td>
            <span th:text="${entry.value}"></span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
