<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/frontsite.css}" />
    <title>Task Created</title>
</head>
<body>
<h1>Task Created</h1>
<p>The following task has been created:</p>
<table>
    <tr>
        <td th:text="${task.taskId}"></td>
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.deadline}"></td>
        <td>
            <span th:if="${task.projectManagerID}">
                <span th:text="${projectManagerFirstName}"></span>
                <span> </span>
                <span th:text="${projectManagerLastName}"></span>
            </span>
            <span th:unless="${task.projectManagerID}">
                No project manager assigned.
            </span>
        </td>
        <td th:text="${task.status}"></td>
    </tr>
</table>

<a th:href="@{'/projects/' + ${projectId} + '/createTask'}">Create another task for this project</a>
<br><br>
<a th:href="@{'/projects/' + ${projectId}}">Back to Project Details</a>
</body>
</html>
