<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/project-task.css">
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>

<h2>Task Details</h2>

<form method="post" th:action="@{/projects/{projectId}/createTask(projectId=${projectId})}">
    <table>
        <tr>
            <td><label for="description">Task Description:</label></td>
            <td><textarea id="description" name="description" th:text="${newTask.description}"></textarea></td>
        </tr>
        <tr>
            <td><label for="deadline">Assigned time for task:</label></td>
            <td><input type="time" id="deadline" name="deadline" th:value="${newTask.deadline}"></td>
        </tr>
        <tr>
            <td>
                <label for="assignedTo">Assigned to:</label>
                <select id="assignedTo" name="assignedTo">
                    <option value="">Choose a user</option>
                    <option th:each="user : ${projectManagers}" th:value="${user.userID}"
                            th:text="${user.firstName} + ' ' + ${user.lastName}"
                            th:selected="${newTask.assignedTo != null and newTask.assignedTo == user.userID}"></option>
                </select>
            </td>

        </tr>
        <tr>
            <td><label for="status">Status:</label></td>
            <td>
                <select id="status" name="status" th:value="${newTask.status}">
                    <option value="Planning">Planning</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
            </td>
        </tr>
    </table>

    <input type="hidden" id="userId" name="userId" th:value="${user.userID}">
    <input type="hidden" id="projectId" name="projectId" th:value="${projectId}">
    <br>
    <input type="submit" value="Create Task">
</form>


</body>
</html>
