<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Your User</title>
</head>
<body>
<h1>Create User Account!</h1>
<div>
    <form th:action="@{/adduser}" th:object="${newUser}" method="post">
        <label>
            <input type="text" name="userName" th:field="*{userName}" placeholder="Type username">
        </label>

        <label>
            <input type="text" name="firstName" th:field="*{firstName}" placeholder="Type firstname">
        </label>

        <label>
            <input type="text" name="lastName" th:field="*{lastName}" placeholder="Type lastname">
        </label>

        <label>
            <input type="password" name="password" th:field="*{password}" placeholder="Type password">
        </label>

        <label>
            <input type="email" name="email" th:field="*{email}" placeholder="Type email">
        </label>

        <label>
            <input type="tel" name="phoneNumber" th:field="*{phoneNumber}" placeholder="Type phone-number">
        </label>

        <label for="role">Role:</label>
        <select id="role" name="role" th:field="*{role}">
            <option value="Customer">Customer</option>
            <option value="Employee">Employee</option>
        </select>

        <input type="submit" value="Submit">
        <button type="reset">reset</button>
    </form>
</div>

<!-- Viser information om den oprettede brugeren -->
<div>
    <p th:text="${userId}"></p>
    <p th:text="${createdAt}"></p>
    <p th:text="${updatedAt}"></p>
</div>

</body>
</html>
