<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Task</title>
</head>
<body>

<h2>Task Details</h2>

<form method="post" th:action="@{/projects/{projectId}/createTask(projectId=${newTask.projectId})}" th:object="${newTask}">
  <table>
    <tr>
      <td><label for="taskDescription">Task Description:</label></td>
      <td><textarea id="taskDescription" name="description" th:text="${newTask.description}"></textarea></td>
    </tr>
    <tr>
      <td><label for="deadline">Task Due Date:</label></td>
      <td><input type="date" id="deadline" name="deadline" th:value="${newTask.deadline}"></td>
    </tr>
    <tr>
      <td><label for="assignedTo">Assigned To:</label></td>
      <td><input type="text" id="assignedTo" name="assignedTo" th:value="${newTask.assignedTo}"></td>
    </tr>

    <label for="status">Status:</label>
    <select id="status" name="status" th:value="${project.status}">
      <option value="Planning">Planning</option>
      <option value="In Progress">In Progress</option>
      <option value="Completed">Completed</option>
    </select><br>

  </table>

  <input type="hidden" id="userId" name="userId" th:value="${newTask.userId}">
  <input type="hidden" id="projectId" name="projectId" th:value="${newTask.projectId}">

  <input type="submit" value="Create Task">
</form>

</body>
</html>
