<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/frontsite.css}"/>
    <title>Tasks for Project "${projectId}"</title>
</head>
<body>
<h1>Tasks for Project <span th:text="${projectId}"></span></h1>

<p>The following tasks have been created:</p>
<table>
    <tr>
        <th>Task ID</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Project Manager</th>
        <th>Project created by</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskId}"></td>
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.deadline}"></td>
        <td>
    <span th:if="${task.projectmanagerID}">
        <span th:each="pmName : ${pmNames}" th:utext="${pmName}"></span>
    </span>
            <span th:unless="${task.projectmanagerID}">No project manager assigned.</span>
        </td>
        <td>
            <span th:text="${projectCreatorFirstName}"></span>
            <span> </span>
            <span th:text="${projectCreatorLastName}"></span>
        </td>
        <td th:text="${task.status}"></td>
        <td>
            <div class="task-buttons">
                <form th:action="@{/projects/{projectId}/tasks/{taskId}/delete(projectId=${projectId}, taskId=${task.taskId})}"
                      method="post">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this project?')">
                        Delete Task
                    </button>
                </form>
                <form th:action="@{/tasks/{taskId}/update(taskId=${task.taskId})}" method="post">
                    <input type="submit" value="Update Task"/>
                </form>
                <a th:href="@{/tasks/{taskId}/createSubtask}" class="button">Create Subtask</a>
            </div>
        </td>
    </tr>
</table>

<input type="hidden" name="projectId" th:value="${projectId}"/>
<a th:href="@{'/projects/' + ${projectId} + '/createTask'}">Create another task for this project</a>
<br><br>
<a th:href="@{/projects/tasks/{projectId}/{userId}(projectId=${projectId},userId=${userId})}">Back to Your Frontpage</a>

</body>
</html>
