<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="/project-task.css">
  <meta charset="UTF-8">
  <title>Create Task</title>
</head>
<body>

<h2>Task Details</h2>

<form method="post" th:object="${task}" th:action="@{/projects/{projectId}/createTask(projectId=${projectId})}">
  <table>
    <tr>
      <td><label for="taskName">Task Name:</label></td>
      <td><input type="text" id="taskName" name="taskName" th:value="${task.taskName}" required></td>
    </tr>
    <tr>
      <td><label for="description">Task Description:</label></td>
      <td><textarea id="description" name="description" th:text="${task.description}" required></textarea></td>
    </tr>
    <tr>
      <td><label for="deadline">Task Estimated Time:</label></td>
      <td><input type="time" id="deadline" name="deadline" th:value="${task.deadline}" required></td>
    </tr>
    <tr>
      <td><label for="status">Status:</label></td>
      <td>
        <select id="status" name="status" th:value="${task.status}" required>
          <option value="Planning">Planning</option>
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="employeeId">Employee:</label>
        <select id="employeeId" name="employeeId" required>
          <option th:each="employee : ${employees}"
                  th:value="${employee.userID}"
                  th:text="${employee.firstName} + ' ' + ${employee.lastName}">
          </option>
        </select>
      </td>
    </tr>
  </table>

  <input type="hidden" id="projectId" name="projectId" th:value="${projectId}">
  <input type="hidden" id="projectManagerId" name="projectmanagerID" th:value="${task.projectmanagerID}">
  <input type="submit" value="Create Task">
</form>

</body>
</html>
