<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Page</title>
    <link rel="stylesheet" href="/employee-page.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title">Employee Profile</h4>
                    </div>
                    <div class="card-body text-center">
                        <img alt="avatar" class="user-profile-img rounded-circle img-fluid" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" />
                        <h5 class="user-profile-name my-3" th:text="${user.firstName + ' ' + user.lastName}"></h5>
                        <p class="user-profile-role text-muted mb-1" th:text="${roleName}"></p>
                        <div class="user-profile-actions">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary">Message</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">User Details</h4>
                        <div class="user-profile-details">
                            <div class="user-profile-details-item">
                                <label>Full Name:</label>
                                <p class="text-muted" th:text="${user.firstName + ' ' + user.lastName}"></p>
                            </div>
                            <div class="user-profile-details-item">
                                <label>Email:</label>
                                <p class="text-muted" th:text="${user.email}"></p>
                            </div>
                            <div class="user-profile-details-item">
                                <label>Phone:</label>
                                <p class="text-muted" th:text="${user.phoneNumber}"></p>
                            </div>
                            <div class="user-profile-details-item">
                                <label>Role:</label>
                                <p class="text-muted" th:text="${roleName}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-primary" type="submit">Log out</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title">Employee Tasks</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" th:each="task : ${tasks}">
                                <div class="task-box">
                                    <div class="task-details">
                                        <h5>Task ID: <span th:text="${task.taskId}"></span></h5>
                                        <h5>Task Name: <span th:text="${task.taskName}"></span></h5>
                                        <h5>Project Name: <span th:text="${task.projectName}"></span></h5>
                                    </div>
                                    <div class="task-actions">
                                        <nav>
                                            <ul>
                                                <li><a th:href="@{/tasks/show/task/{taskID}(taskID=${task.taskId})}">Task Info</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
