<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/style.css}" href="/style.css" rel="stylesheet" type="text/css" />
  <title>My Website</title>
</head>
<body>

<h1>Welcome 2Your SmartSlate HomeSite!</h1>

<nav>
  <ul>
    <li><a th:href="@{/smartslate/create}">Create a login</a></li>
  </ul>
  <ul>
    <li><a th:href="@{/user/login}">Login</a></li>
  </ul>
</nav>


<footer>
  <p>&copy; My Website 2023</p>
</footer>
</body>
</html>
