<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>My Website</title>
</head>
<body>

<h1>Welcome To Your SmartSlate HomeSite!</h1>

<nav>
  <ul>
    <li><a th:href="@{/smartslate/create/user}">Create a login</a></li>
  </ul>
  <ul>
    <li><a th:href="@{/login}">Login</a></li>
  </ul>
</nav>

<div class="box">
  <p>SmartSlate er et kalkulationsværktøj, som gør det nemt for brugere at foretage beregninger af omkostninger og budgetter til forskellige projekter. Med en brugervenlig grænseflade og en bred vifte af funktioner er SmartSlate ideel til både private og erhvervskunder. Navnet SmartSlate afspejler programmets evne til at hjælpe brugere med at "tænke nyt" og opnå bedre resultater gennem effektiv planlægning og kalkulation.</p>
</div>


<footer>
  <p>&copy; My Website 2023</p>
</footer>
</body>
</html>
