<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="/user-profile.css">
</head>
<body>
<section class="bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-header">
            <h4 class="card-title">User Profile</h4>
          </div>
          <div class="card-body text-center">
            <img alt="avatar" class="user-profile-img rounded-circle img-fluid" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" />
            <h5 class="user-profile-name my-3" th:text="${user.firstName + ' ' + user.lastName}"></h5>
            <p class="user-profile-role text-muted mb-1" th:text="${roleName}"></p>
            <div class="user-profile-actions">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary">Message</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-header">
                <h4 class="card-title smaller-title">Your Projects</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12" th:each="project : ${projects}">
                    <div class="project-box">
                      <div class="project-details">
                        <h5>Project ID: <span th:text="${project.projectId}"></span></h5>
                        <h5>Project Name: <span th:text="${project.projectName}"></span></h5>
                      </div>
                      <div class="project-actions">
                        <nav>
                          <ul>
                            <li><a th:href="@{/projects/show/project/{projectId}(projectId=${project.projectId})}">Project info</a></li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="create-project-button">
                  <a href="/projects/create" class="btn btn-primary">Create Project</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">User Details</h4>
                <div class="user-profile-details">
                  <div class="user-profile-details-item">
                    <label>Full Name:</label>
                    <p class="text-muted" th:text="${user.firstName + ' ' + user.lastName}"></p>
                  </div>
                  <div class="user-profile-details-item">
                    <label>Email:</label>
                    <p class="text-muted" th:text="${user.email}"></p>
                  </div>
                  <div class="user-profile-details-item">
                    <label>Phone:</label>
                    <p class="text-muted" th:text="${user.phoneNumber}"></p>
                  </div>
                  <div class="user-profile-details-item">
                    <label>Role:</label>
                    <p class="text-muted" th:text="${roleName}"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
