<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/task-frontsite.css}"/>
    <title>Tasks for Project "${projectId}"</title>
</head>
<body>
<h1>Tasks for Project <span th:text="${projectId}"></span></h1>

<p>The following tasks have been created:</p>
<table>
    <tr>
        <th>Task ID</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Employee</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskId}"></td>
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.deadline}"></td>
        <td>
            <span th:if="${selectedUserId}">
                <span th:each="employeeName : ${selectedUserIds}">
                    <span th:each="employeeName : ${employeeNamesByTask[task.taskId]}" th:utext="${employeeName}"></span>
                </span>
            </span>
            <span th:unless="${selectedUserId}">No employees assigned.</span>
        </td>
        <td th:text="${task.status}"></td>
        <td>
            <div class="task-buttons">
                <form th:action="@{/projects/{projectId}/tasks/{taskId}/delete(projectId=${projectId}, taskId=${task.taskId})}"
                      method="post">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this project?')">
                        Delete Task
                    </button>
                </form>
                <form th:action="@{/tasks/{taskID}/update(taskId=${task.taskId})}" method="post">
                    <input type="submit" value="Update Task"/>
                </form>
                <a th:href="@{/tasks/{taskId}/createSubtask}" class="button">Create Subtask</a>
                <a th:href="@{/employees/{employeeId}/calculate}" class="button">Calculate Salary and Time</a>
            </div>
        </td>
    </tr>
</table>

<input type="hidden" name="projectId" th:value="${projectId}"/>
<input type="hidden" name="projectManagerID" th:value="${task.projectmanagerID}"/>
<a th:href="@{'/projects/' + ${projectId} + '/createTask'}">Create another task for this project</a>
<br><br>
<form th:action="@{/smartslate/user/{userid}(userid=${userId})}" method="get">
    <button type="submit">Back to Your Frontpage</button>
</form>

</body>
</html>
