<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update task</title>
</head>
<body>
<form th:action="@{/tasks/{taskId}/update(taskId=${task.taskId})}" th:method="post" th:object="${task}">

  <div>
    <input type="hidden" id="projectId" th:field="*{projectId}">
  </div>

  <div>
    <input type="hidden" id="taskId" th:field="*{taskId}">
  </div>

  <div>
    <label for="taskDescription">Description</label>
    <textarea name="description" id="taskDescription" cols="30" rows="10" th:field="*{description}" required></textarea>
  </div>


  <div>
    <label for="deadline">Deadline:</label>
    <input type="date" id="deadline" th:field="*{deadline}">
  </div>


  <div>
      <label for="projectManagerId">Project Manager:</label>
      <select id="projectManagerId" name="projectManagerId" required>
        <option th:each="projectManager : ${projectManagers}"
                th:if="${projectManager.roleID == 2}"
                th:value="${projectManager.userID}"
                th:text="${projectManager.firstName} + ' ' + ${projectManager.lastName}"
                th:selected="${projectManager.userID == task.projectmanagerID}">
        </option>
      </select>
      <p th:unless="${projectManagers}">No project managers available</p>
  </div>


  <div>
    <label for="status">Status:</label>
    <select id="status" name="status" th:field="*{status}">
      <option value="Planning" th:selected="${task.status == 'Planning'}">Planning</option>
      <option value="In Progress" th:selected="${task.status == 'In Progress'}">In Progress</option>
      <option value="Completed" th:selected="${task.status == 'Completed'}">Completed</option>
    </select>
  </div>

  <div>
    <button type="submit">Update task</button>
  </div>
</form>

</body>
</html>
