<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
  <title>User Frontsite</title>
</head>
<body>
<h1>Welcome, ${firstName} ${lastName}!</h1>

<label>#UserID:</label>
<span th:text="${user.userId}"></span> <br/>

<label>UserName:</label>
<span th:text="${user.userName}"></span> <br/>

<label>First name:</label>
<span th:text="${user.firstName}"></span> <br/>

<label>Last name:</label>
<span th:text="${user.lastName}"></span> <br/>

<label>Email:</label>
<span th:text="${user.email}"></span><br/>

<label>Phone Number:</label>
<span th:text="${user.phoneNumber}"></span> <br/>

<label>Role:</label>
<span th:text="${user.role}"></span> <br/>

<a href="/smartslate/create/project?userId=${userId}">Create Project</a>
</body>
</html>
